/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stint+Ultra+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

.mainSectionHeader,
.serviceHeader,
.teamHeader,
.teamPersonHeader,
.contactHeader,
.contactInformationHeader {
  font-family: 'Bebas Neue', cursive !important;
  letter-spacing: 1px;
}

.mainSectionContent {
  font-family: 'Acme', sans-serif !important;
}

.unemployedProfileTitle,
.employerListTitle,
.employeeAccordTitle {
  font-size: 20px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.loginHeader,
.employerModalHeader,
.employeeCardHeader,
.unemployedTable,
.title {
  font-family: 'Montserrat', sans-serif !important;
}

/* MAIN */
.App {
  text-align: center;
  background: linear-gradient(to left, #1d2b64, #f8cdda);
  font-family: 'Montserrat', sans-serif !important;
}

/*##############################################################################################*/
/* General Page Settings */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100vh !important;
}

/* Containers */
.teamContainer,
.contactContainer,
.serviceMainGridRow,
.serviceGridColumn {
  background: linear-gradient(rgba(75, 73, 73, 0.4), rgba(75, 73, 73, 0.4)) !important;
  border-radius: 10px/10px;
  margin-top: 5em;
}

/* Pages Settings */
.pages {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  min-height: 100vh !important;
  height: auto !important;
}

.loginPage {
  top: 17em !important;
  position: relative !important;
}

@media only screen and (max-width: 995px) {
  .footer {
    border-radius: 10px/10px !important;
    margin-top: 1em !important;
  }
}

/*##############################################################################################*/
/* Error Messages and Toastify Settings */
.errorMessage {
  padding: 0.2em !important;
  margin-top: -10px !important;
  margin-bottom: 5px !important;
  font-size: 11px !important;
  font-weight: bold !important;
}

.Toastify__toast--default {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
  background: linear-gradient(to left, #870000, #c43c0f) !important;
}

.Toastify__toast--success {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
  background: linear-gradient(to left, #11998e, #38ef7d) !important;
}

/*##############################################################################################*/

/* Navbar */
.fixed {
  background-color: rgba(102, 99, 99, 0.6) !important;
  padding: 3px 30px 10px 30px;
  box-shadow: 3px 0px 1px 1px black !important;
}

@media only screen and (max-width:766px) {
  .naviSecondaryMenu {
    display: none !important;
  }
}

/* Navbar Logo */
.naviLogo {
  display: block !important;
  font-size: 18px !important;
  border-radius: 100% !important;
}

/* Navbar Buttons */
.registerButton, .loginButton {
  margin-left: 10px !important;
  margin-right: 5px !important;
  color: #fff !important;
  letter-spacing: 2px;
  background: linear-gradient(to right, #6a7081, #598ada) !important;
  border-radius: 10px !important;
}

/*##############################################################################################*/
/* Home Page => MainSection -- MainContainer */
.mainSection {
  min-height: 100vh !important;
}

.mainContainer {
  position: absolute !important;
  top: 47% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: 80% !important;
  padding-bottom: 10px !important;
  border-radius: 10px/10px;
  background: linear-gradient(rgba(75, 73, 73, 0.4), rgba(75, 73, 73, 0.4)) !important;
}

/* MainSection => Header and Span */
.mainSectionHeader {
  font-size: 45px !important;
  font-weight: lighter !important;
  letter-spacing: 2px !important;
}

.mainSectionHeader span {
  font-size: 90px !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* MainSection => Content and Lets Button */
.mainSectionContent {
  font-size: 30px !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: 200 !important;
  letter-spacing: 2px;
}

.letsButton {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  border: 1.4 solid rgb(109, 128, 185) !important;
  background-color: #740303 !important;
  border-radius: 10px/10px !important;
}

/*##############################################################################################*/
/* HomePage => ServiceSection */

/* ServiceSection => ServiceHeader -- ServiceMainContent -- serviceSubContent */
.serviceHeader {
  font-size: 50px !important;
  font-weight: 200 !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.serviceMainContent {
  font-size: 20px;
  font-weight: 200 !important;
  color: #fff;
  line-height: 1.3;
}

.serviceSubContent {
  font-size: 20px;
  line-height: 1.3;
  color: #000000 !important;
  font-weight: bold !important;
}

/* ServiceSection => ServiceGridColumn -- ServiceGridIcon */
.serviceGridColumn {
  margin: 0px 10px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px/10px;
}

.serviceGridIcon {
  font-size: 40px !important;
  border: 0.1em solid !important;
}

/*##############################################################################################*/
/* HomePage => TeamSection -- TeamContainer */

/* TeamSection => TeamHeader -- TeamMainContent -- TeamMainPersonName */
.teamHeader {
  font-size: 50px !important;
  font-weight: 200 !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.teamMainContent {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.teamMainPersonName {
  font-size: 18px;
  color: rgba(21, 19, 170, 0.911);
}

/* TeamSection => TeamPersonHeader -- TeamPersonContent */
.teamPersonHeader {
  font-size: 25px !important;
  font-weight: lighter !important;
  letter-spacing: 1px;
  color: rgba(21, 19, 170, 0.911) !important;
}

.teamPersonContent {
  font-size: 16px;
  font-weight: bold;
  color: #41413e;
}

/*##############################################################################################*/
/* HomePage => ContactSection -- ContactContainer */

/* ContactSection => ContactHeader -- ContactContent*/
.contactHeader {
  font-size: 50px !important;
  font-weight: lighter !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.contactContent {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

/* ContactSection => ContactFormInput */
.contactFormInput {
  margin-bottom: 7px !important;
}

/* ContactSection => ContactInformationHeader -- ContactInformationIcon */
.contactInformationHeader,
.contactInformationIcon {
  font-weight: bold !important;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#d5dd3b, #7bd17e) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/*##############################################################################################*/
/* Footer */

.footer {
  padding: 2em 0em;
  background: linear-gradient(rgba(0,0,0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/footer.jpg) no-repeat center !important;
  background-size: cover !important;
}

/* Footer => FooterHeader -- FooterSubContent */
.footerHeader,
.footerSubContent {
  color: lightgray !important;
}

/*##############################################################################################*/
/* Pages => Register Page Settings */

.registerLabel {
  margin-top: 5rem !important;
  font-size: 15px !important;
  letter-spacing: 1px;
  font-weight: lighter !important;
  padding: 8px 40px 8px 40px !important;
  border-radius: 15px/15px !important;
  color: #ffffff !important;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e) !important;
}

.registerHeader, .loginHeader {
  letter-spacing: 2px;
  color: #000000 !important;
  font-weight: bolder !important;
}

/*##############################################################################################*/
/* Sign In => Employer Sign In */
.signDropdown {
  color: #fff !important;
  letter-spacing: 1px;
}

.signDropdownContent span{
  color:rgb(0, 0, 0) !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.signDropdown .icon {
  margin-left: 5px !important;
}

/*##############################################################################################*/
/* Add Advertisement => Segment */

.addAdvertSegment {
  border-radius: 10em !important;
  margin-right: 50px !important;
  margin-left: 50px !important;
  background-color: rgba(255, 255, 255, 0.289) !important;
}

/* Add Advertisement => Dropdown */
.addAdvertDropdown {
  margin: 0px 2px 0px 2px !important;
}

/* Add Advertisement => Add Button */
.addAdvertButton {
  font-size: 18px !important;
  letter-spacing: 5px;
  color: rgb(0, 0, 0) !important;
  background: linear-gradient(to left, #a8ff78, #78ffd6) !important;
}

/* Add Advertisement => Label */
.addAdvertLabel {
  margin-bottom: 4px !important;
  padding: 5px 10px 5px 10px !important;
  letter-spacing: 2px !important;
  color: white !important;
  background: rgba(17, 5, 250, 0.2) !important;
}

/* Add Advertisement => GridColumn */
.addAdvertColumn {
  margin: 0px 20px 0px 20px !important;
}

/* Add Advertisement => Media Query */
@media only screen and (max-width: 1034px) {
  .addAdvertLabel {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 991px) {
  .addAdvertLabel {
    margin-top: 1em !important;
    margin-bottom: 2px !important;
  }
}

@media only screen and (max-width: 767px) {
  .addAdvertButton {
    padding: 1.5em !important;
  }

  .addAdvertLabel {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }
} 

/*##############################################################################################*/

.formInput {
  margin: auto !important;
  margin-bottom: 1em !important;
}

.filterCheckbox {
  letter-spacing: 1px;
  padding-left: 10px !important;
  margin-bottom: 5px !important;
}

.filterLabel {
  letter-spacing: 1px;
  margin-top: -1px !important;
  color: #000000 !important;
  background: rgb(162, 240, 162) !important;
}

.filterButton {
  color: #000000 !important;
  letter-spacing: 4px;
  padding-left: 10em !important;
  padding-right: 10em !important;
  background: linear-gradient(to left, #a8ff78, #78ffd6) !important;
}

.favoriteHeader {
  font-family: 'Acme', sans-serif !important;
  letter-spacing: 1px;
  font-weight: lighter !important;
}

.unemployedAvatar {
  margin: 0px 7px 0px 0px !important;
  font-size: 1.5em !important;
}

.unemployedMenu {
  padding: 6px 0px 0px 5px !important;
}

.addSchoolLabel {
  letter-spacing: 2px !important;
  color: #000000 !important;
  background: rgba(0, 255, 128, 0.181) !important;
}

.photoButton {
  padding-left: 3em !important;
  padding-right: 3em !important;
  margin-right: 20px !important;
  font-size: 14px !important;
  letter-spacing: 2px !important;
  border-radius: 20px/20px !important;
  background-color: #8bf50a !important;
}

.photoDeleteButton {
  margin: 5px !important;
  letter-spacing: 2px;
}

.manageInfoHeader {
  color: white !important;
  text-align: center;
  letter-spacing: 4px ;
  font-family: 'Montserrat', sans-serif !important;
  background: linear-gradient(to left, #8360c3, #08281e) !important;
}

.manageInfoMainContent {
  background: linear-gradient(to left, #8360c3, #08281e) !important;
}

.manageInformationSubContent {
  background-color: #d3d3d379 !important;
}

.employeeCardMeta {
  letter-spacing: 1px;
  font-weight: bold !important;
}

.employeeCard {
  background: linear-gradient(to right, #1bfd76, #96e4c0) !important;
}