/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Stint+Ultra+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap);

.mainSectionHeader,
.serviceHeader,
.teamHeader,
.teamPersonHeader,
.contactHeader,
.contactInformationHeader {
  font-family: 'Bebas Neue', cursive !important;
  letter-spacing: 1px;
}

.mainSectionContent {
  font-family: 'Acme', sans-serif !important;
}

/* MAIN */
.App {
  text-align: center;
  background: linear-gradient(to left, #1d2b64, #f8cdda);
}

/*##############################################################################################*/
/* General Page Settings */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Containers */
.teamContainer,
.contactContainer,
.serviceMainGridRow,
.serviceGridColumn {
  background: linear-gradient(rgba(75, 73, 73, 0.4), rgba(75, 73, 73, 0.4)) !important;
  border-radius: 10px/10px;
  margin-top: 10px;
}

/* Pages Settings */
.pages {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  height: 100vh !important;
}

/*##############################################################################################*/
/* Error Messages and Toastify Settings */
.errorMessage {
  padding: 0.2em !important;
  margin-top: -10px !important;
  margin-bottom: 5px !important;
  font-size: 11px !important;
  font-weight: bold !important;
}

.Toastify__toast--default {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
  background: linear-gradient(to left, #870000, #c43c0f) !important;
}

.Toastify__toast--success {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
  background: linear-gradient(to left, #11998e, #38ef7d) !important;
}

/*##############################################################################################*/

/* Navbar */
.fixed {
  background-color: rgba(102, 99, 99, 0.6) !important;
  padding: 3px 30px 10px 30px;
  box-shadow: 3px 0px 1px 1px black !important;
}

/* Navbar Logo */
.naviLogo {
  display: block !important;
  font-size: 18px !important;
  border-radius: 100% !important;
}

/* Navbar Buttons */
.registerButton, .loginButton {
  margin-left: 10px !important;
  margin-right: 5px !important;
  color: #fff !important;
  letter-spacing: 2px;
  background: linear-gradient(to right, #6a7081, #598ada) !important;
  border-radius: 10px !important;
}

/*##############################################################################################*/
/* Home Page => MainSection -- MainContainer */
.mainSection {
  min-height: 100vh !important;
}

.mainContainer {
  position: absolute !important;
  top: 47% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: 80% !important;
  padding-bottom: 10px !important;
  border-radius: 10px/10px;
  background: linear-gradient(rgba(75, 73, 73, 0.4), rgba(75, 73, 73, 0.4)) !important;
}

/* MainSection => Header and Span */
.mainSectionHeader {
  font-size: 45px !important;
  font-weight: lighter !important;
  letter-spacing: 2px !important;
}

.mainSectionHeader span {
  font-size: 90px !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/* MainSection => Content and Lets Button */
.mainSectionContent {
  font-size: 30px !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: 200 !important;
  letter-spacing: 2px;
}

.letsButton {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  border: 1.4 solid rgb(109, 128, 185) !important;
  background-color: #740303 !important;
  border-radius: 10px/10px !important;
}

/*##############################################################################################*/
/* HomePage => ServiceSection */

/* ServiceSection => ServiceHeader -- ServiceMainContent -- serviceSubContent */
.serviceHeader {
  font-size: 50px !important;
  font-weight: 200 !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.serviceMainContent {
  font-size: 20px;
  font-weight: 200 !important;
  color: #fff;
  line-height: 1.3;
}

.serviceSubContent {
  font-size: 20px;
  line-height: 1.3;
  color: #000000 !important;
  font-weight: bold !important;
}

/* ServiceSection => ServiceGridColumn -- ServiceGridIcon */
.serviceGridColumn {
  margin: 0px 10px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px/10px;
}

.serviceGridIcon {
  font-size: 40px !important;
  border: 0.1em solid !important;
}

/*##############################################################################################*/
/* HomePage => TeamSection -- TeamContainer */

/* TeamSection => TeamHeader -- TeamMainContent -- TeamMainPersonName */
.teamHeader {
  font-size: 50px !important;
  font-weight: 200 !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.teamMainContent {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.teamMainPersonName {
  font-size: 18px;
  color: rgba(21, 19, 170, 0.911);
}

/* TeamSection => TeamPersonHeader -- TeamPersonContent */
.teamPersonHeader {
  font-size: 25px !important;
  font-weight: lighter !important;
  letter-spacing: 1px;
  color: rgba(21, 19, 170, 0.911) !important;
}

.teamPersonContent {
  font-size: 16px;
  font-weight: bold;
  color: #41413e;
}

/*##############################################################################################*/
/* HomePage => ContactSection -- ContactContainer */
.contactSection {
  min-height: 100vh !important;
}

/* ContactSection => ContactHeader -- ContactContent*/
.contactHeader {
  font-size: 50px !important;
  font-weight: lighter !important;
  background: -webkit-linear-gradient(#c31432, #240b36) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.contactContent {
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

/* ContactSection => ContactFormInput */
.contactFormInput {
  margin-bottom: 7px !important;
}

/* ContactSection => ContactInformationHeader -- ContactInformationIcon */
.contactInformationHeader,
.contactInformationIcon {
  font-weight: bold !important;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#d5dd3b, #7bd17e) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

/*##############################################################################################*/
/* Footer */

.footer {
  padding: 1em 0em;
  border-radius: 10px;
  background: linear-gradient(rgba(0,0,0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/footer.jpg) no-repeat center !important;
  background-size: cover !important;
  position: relative;
}

/* Footer => FooterHeader -- FooterSubContent */
.footerHeader,
.footerSubContent {
  color: lightgray !important;
}

/*##############################################################################################*/
/* Pages => Register Page Settings */

.registerLabel {
  margin-top: 5rem !important;
  font-size: 15px !important;
  letter-spacing: 1px;
  font-weight: lighter !important;
  padding: 8px 30px 8px 30px !important;
  border-radius: 15px/15px !important;
  color: #491919 !important;
  background: rgba(118, 214, 94, 0.6) !important;
}

.registerHeader, .loginHeader {
  letter-spacing: 2px;
  color: #000000 !important;
  font-weight: bolder !important;
}

/*##############################################################################################*/
/* Sign In => Employer Sign In */
.signDropdown {
  color: #fff !important;
  letter-spacing: 1px;
}

.signDropdownContent span{
  color:rgb(0, 0, 0) !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.signDropdown .icon {
  margin-left: 5px !important;
}

/*##############################################################################################*/
/* Add Advertisement => Dropdown */
.addAdvertDropdown {
  margin-bottom: 15px !important;
  margin-right: 0.7em !important;
}

/* Add Advertisement => Add Button */
.addAdvertButton {
  font-size: 18px !important;
  letter-spacing: 5px;
  color: rgb(0, 0, 0) !important;
  background: linear-gradient(to left, #a8ff78, #78ffd6) !important;
}

.addAdvertModalHeader,
.addAdvertModalAction {
  font-family: 'Acme', sans-serif !important;
  letter-spacing: 2px !important;
  color: rgb(12, 100, 49) !important;
  background: linear-gradient(to right, #ffeeee, #ddefbb) !important;
}



.formInput {
  margin: auto !important;
  margin-bottom: 1em !important;
}